[Unit]
Description=Check and mount nfs @Neosy
After=syslog.target network.target

[Service]
User=root
ExecStart=/usr/local/bin/sh_n/nmount-nfs.sh -d
#ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/bash -c '/bin/kill -s QUIT $MAINPID'
Type=simple
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
